@model LuckyDrawApplication.Models.User

@{
    ViewBag.Title = "Modify Purchaser Details";
}

<style>
    .form-rounded {
        border-radius: 5rem;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 18px;
        margin: auto;
    }

    input,
    select,
    textarea {
        max-width: 500px;
    }

    .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
        color: #ff0000;
        text-align: end;
        border-color: #ff0000;
    }

    .has-error .form-control {
        border-color: #ff0000;
    }

        .has-error .form-control:focus {
            border-color: #ff0000;
        }

    .has-success .form-control {
        border-color: #00d91d;
    }

        .has-success .form-control:focus {
            border-color: #00d91d;
        }
</style>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://adminlte.io/themes/AdminLTE/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />

<!-- Site wrapper -->
<div class="wrapper">

    @Html.Partial("_AdminLayout")

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="margin-top: 20px;">Modify Purchaser Details <small>ID #@Model.PurchaserID</small> </h1>
            <ol class="breadcrumb">
                <li><a href="~/Admin/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li><a href="~/Admin/Users">Purchasers</a></li>
                <li class="active">Modify Purchaser ID #@Model.PurchaserID</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-primary" style="margin-top:20px;">

                <div class="box-body">

                    <div class="container-fluid">

                        <!-- User Modification Form -->
                        <form id="modify_user" method="post" class="form-horizontal" action="" style="text-align:center;">

                            <div class="row">

                                <h4 style="margin-top: 25px; font-weight:bold">Modify Details of Purchaser ID #@Html.DisplayFor(model => model.PurchaserID)</h4>

                                <div class="row text-center" style="margin-top: 25px;">

                                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-offset-1 col-offset-xs-0 col-xs-12 col-sm-10">

                                        <!-- Full Name -->
                                        <div class="form-group text-center center-block">
                                            <label class="col-md-2" for="name" style="text-align:left;padding: 10px;">Name</label>
                                            <div class="col-md-10" style="margin:auto;">
                                                <input type="text" class="form-control form-rounded" id="name" name="name" value="@Model.Name" />
                                            </div>
                                        </div>

                                        <!-- IC Number -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="ic_number" style="text-align:left;padding: 10px;">IC No</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control form-rounded" id="ic_number" name="ic_number" value="@Model.ICNumber" />
                                            </div>
                                        </div>

                                        <!-- Email Address -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="emailaddress" style="text-align:left;padding: 10px;">Email</label>
                                            <div class="col-md-10">
                                                <input type="email" class="form-control form-rounded" id="emailaddress" name="emailaddress" value="@Model.EmailAddress" />
                                            </div>
                                        </div>

                                        <!-- Contact Number -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="contactnumber" style="text-align:left;padding: 10px;">Contact No</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control form-rounded" id="contactnumber" name="contactnumber" value="@Model.ContactNumber" />
                                            </div>
                                        </div>

                                        <!-- Project -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="project" style="text-align:left;padding: 10px;">Project</label>
                                            <div class="col-md-10">
                                                @Html.DropDownList("project", (IEnumerable<SelectListItem>)ViewBag.ProjectList, new { @class = "form-control form-rounded" })
                                            </div>
                                        </div>

                                        <!-- Block -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="block" style="text-align:left;padding: 10px;">Block</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control form-rounded" id="block" name="block" placeholder="Eg. A" value="@ViewBag.Block" />
                                            </div>
                                        </div>

                                        <!-- Level -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="level" style="text-align:left;padding: 10px;">Level</label>
                                            <div class="col-md-10">
                                                @Html.DropDownList("level", new SelectList(ViewBag.FloorUnitList, "Text", "Value"), new { @class = "form-control form-rounded" })
                                            </div>
                                        </div>

                                        <!-- Unit -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="unit" style="text-align:left;padding: 10px;">Unit</label>
                                            <div class="col-md-10">
                                                @Html.DropDownList("unit", new SelectList(ViewBag.FloorUnitList, "Text", "Value"), new { @class = "form-control form-rounded" })
                                            </div>
                                        </div>

                                        <!-- Sales Consultant -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="salesconsultant" style="text-align:left;padding: 10px;">Sales Consultant</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control form-rounded" id="salesconsultant" name="salesconsultant" value="@Model.SalesConsultant" />
                                            </div>
                                        </div>

                                        <!-- Sales Location -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="saleslocation" style="text-align:left;padding: 10px;">Sales Location</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control form-rounded" readonly id="saleslocation" name="saleslocation" value="@Model.SalesLocation" />
                                            </div>
                                        </div>

                                        <!-- DateTime -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="datetime" style="text-align:left;padding: 10px;">DateTime</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control form-rounded" readonly id="datetime" name="datetime" value="@Model.DateTime" />
                                            </div>
                                        </div>

                                        <!-- Prize Won -->
                                        <div class="form-group">
                                            <label class="col-md-2" for="prizewon" style="text-align:left;padding: 10px;">Prize Won</label>
                                            <div class="col-md-10">
                                                @if (Model.PrizeWon > 0)
                                                {
                                                    <input type="text" class="form-control form-rounded" id="prizewon" readonly name="prizewon" value="RM @Model.PrizeWon.00" style="color:#64b300;font-weight:bold" />
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control form-rounded" id="prizewon" readonly name="prizewon" value="RM 0.00" style="color:#ff0000;font-weight:bold;" />
                                                }
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="box-footer form-group" style="margin-top:50px;">
                                <a href='@Url.Action("Users", "Admin")' class="btn btn-primary pull-left" name="back" value="Back">Back</a>
                                <button type="submit" class="btn btn-warning pull-right" name="modify" value="Modify">Modify</button>
                            </div>


                        </form>          
                    </div>

                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    @Html.Partial("_Footer")

</div>

<script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/admin-lte/js/adminlte.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

         $('#purchasers').addClass("active");

        level.SelectedValue = @ViewBag.Level;
        unit.SelectedValue = @ViewBag.Unit;
        $("#project").val(@Model.ProjectID);

        $("#modify_user").validate({
            rules: {
                name: {
                    required: true,
                    validAlpha: true,
                    minlength: 3,
                    max50: true
                },
                ic_number: {
                    required: true,
                    validNo: true,
                    validIC: true
                },
                emailaddress: {
                    required: true,
                    minlength: 3,
                    max50: true
                },
                contactnumber: {
                    required: true,
                    validNo: true,
                    minlength: 9,
                    max15: true
                },               
                block:
                {
                    required: true,
                    max50: true
                },
                salesconsultant: {
                    required: true,
                    validAlpha: true,
                    minlength: 3,
                    max50: true
                }
            },
            submitHandler: function (form) {
                var json = {
                    'PurchaserID': @Model.PurchaserID,
                    'Name': form.name.value,
                    'ICNumber': form.ic_number.value,
                    'EmailAddress': form.emailaddress.value,
                    'ContactNumber': form.contactnumber.value,
                    'ProjectID': form.project.value,
                    'Unit': form.block.value + "-" + form.level.value + "-" + form.unit.value,
                    'SalesConsultant': form.salesconsultant.value,
                    'SalesLocation': form.saleslocation.value
                };
                $.ajax({
                    url: '@Url.Action("ModifyUser", "Admin")',
                    method: 'POST',
                    data: JSON.stringify(json),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {

                        if (data.success)
                            window.location = data.url;

                        else
                            alert(data.message);
                    },
                    error: function (data) {
                         alert(data.message);
                    }
                });
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");
                error.insertAfter(element);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parents(".col-md-10").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".col-md-10").addClass("has-success").removeClass("has-error");
            },
        });

        jQuery.validator.addMethod("validIC", function (value, element) {
        return value.length == 12;
        }, "This field must be exactly 12 characters long");

        jQuery.validator.addMethod("max50", function (value, element) {
            return value.length < 50;
        }, "This field must be less than 50 characters");

        jQuery.validator.addMethod("max15", function (value, element) {
            return value.length < 15;
        }, "This field must be less than 15 characters");

        jQuery.validator.addMethod("validNo", function (value, element) {
        return !(isNaN(value));
        }, "This field must be only contain numerical characters");

        jQuery.validator.addMethod("validAlpha", function (value, element) {
            return (isNaN(value));
        }, "This field must be only contain alphabetical characters");

    });

</script>